---
tags: [web development, professional developer, technology solutions, dotnet, csharp, javascript, sql, cybersecurity, azure, webassembly, postgresql, aspnet, architecture]
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <div class="post-tags">
            {% for tag in post.tags limit:4 %}
            #{{ tag }}&nbsp;&nbsp;
            {% endfor %}
          </div>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
