<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
        {% include social-links-footer.html %}
    </div>
  </div>
</footer>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    function addAsyncScript(src) {
        let s = document.createElement('script');
        s.async = true;
        s.src = src;
        document.body.appendChild(s);
    }

    function installGoogleTagManager() {
        let id = 'G-YDWDKB6BXH';
        addAsyncScript('https://www.googletagmanager.com/gtag/js?id=' + id);
        gtag('js', new Date());
        gtag('config', id);
    }

    installGoogleTagManager();
</script>
