<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description | strip_html }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/basscss.css?v=8" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/pixyll.css?v=8" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/solarized-light.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/cookieconsent.css?v=3.0.0-rc.17" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/blog-assistant/blog-assistant.css?v=0.1" | prepend: site.baseurl }}" type="text/css">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>

<body>
  <div class="site-wrap">
    <header class="site-header px2 px-responsive">
      <div class="mt2 wrap">
        <div class="measure">
          <div class="left">
              <a href="{{ site.url }}"><div class="logo"></div> {{ site.author }}</a>
              <a class="job-title" href="https://dbbsoftware.com/?utm_source=gaevoy" target="_blank">co-founder of DBB Software</a>
          </div>
          <nav class="site-nav right">
            {% include navigation.html %}
          </nav>
          <div class="clearfix"></div>
          <div class="dbbs">
              <a href="https://dbbsoftware.com/?utm_source=gaevoy" target="_blank">DBB Software</a> helps startup founders to increase revenue with custom software solutions
          </div>
        </div>
      </div>
    </header>

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include cookieconsent.html %}

 
</body>
</html>
